body{
  background-color: #a6b1e1;
  font-family: 'Gotu', sans-serif;
  text-align:center;
}

h1{
  color: #f6f578;
  text-shadow: 2px 2px 5px #f6acc8;
}
h2{
  color: #527318;
  text-decoration: underline;

}
h3{
  font-family: 'Julius Sans One', sans-serif;
}
p {
  margin: 15px 50px 75px 100px;

}
a{
  color:#4d4c7d;
}
hr{
  border-style: none;
  border-top-style:dotted;
  border-color:white ;
  border-width: 5px;
  width: 5%;
}
video{
text-align: center;
margin:0 auto;
display: block;
width: 500px
}
.name{
  color:#27496d;
}
.srm{
  color: #18b0b0;
}
.grad {
  background-image: linear-gradient(#2c003e,#512b58);
}
.body{
  margin: 0;
}
.topcontainer{
  background-color: #eab0d9;

}
.bottom-container{
  background-color: #af8baf;
  padding:50px 0 20px;
}
