body{
  background-color: #a6b1e1;
}
h1{
  color: #010059;
  text-shadow: 2px 2px 5px red;
}
h2{
  color: #35477d;
  text-decoration: underline;
}
p {
  margin: 15px 50px 75px 100px;

}
a{
  color:#4d4c7d;
}
hr{
  border-style: none;
  border-top-style:dotted;
  border-color:white ;
  border-width: 5px;
  width: 5%;
}
.grad {
  background-image: linear-gradient(#6c5b7b,#c06c84);
}
.body{margin:150px;}
